Options -Indexes

RedirectMatch 302 ^/$ /public/index.php

RedirectMatch 403 ^/(config|database|includes)(/|$)
RedirectMatch 403 /\.git

<FilesMatch "\.(sql|md|log|tmp|env)$">
    Require all denied
</FilesMatch>
